<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SMS.My.MySettings>
            <setting name="host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>4sirah@123</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>stock</value>
            </setting>
            <setting name="company_name" serializeAs="String">
                <value>SmartShark Softwares</value>
            </setting>
            <setting name="company_trade_mark" serializeAs="String">
                <value>SmartShark Products</value>
            </setting>
            <setting name="layout" serializeAs="String">
                <value>complex</value>
            </setting>
            <setting name="company_email_primary" serializeAs="String">
                <value>siranjofuw@gmail.com</value>
            </setting>
            <setting name="company_email_secondary" serializeAs="String">
                <value>jerrysirah8@gmailcom</value>
            </setting>
            <setting name="company_phone_primary" serializeAs="String">
                <value>0790983123</value>
            </setting>
            <setting name="company_phone_secondary" serializeAs="String">
                <value>0740500470</value>
            </setting>
            <setting name="company_street_name" serializeAs="String">
                <value>Kiminini</value>
            </setting>
            <setting name="company_house_number" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="company_postal_code" serializeAs="String">
                <value>232</value>
            </setting>
            <setting name="company_region" serializeAs="String">
                <value>Kitale</value>
            </setting>
            <setting name="company_state" serializeAs="String">
                <value>Kenya</value>
            </setting>
            <setting name="company_description" serializeAs="String">
                <value>SmartShark Softwares is an IT related Company based in Kenya that deals with Web Design and Development.
Was founded in 2017 by Dr. Eng. Wachiye Jeremiah Siranjofu</value>
            </setting>
        </SMS.My.MySettings>
    </userSettings>
</configuration>